*{
	margin: 0;
}

html,body
{
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p
{
	margin-bottom: 20px;
}

nav
{
	height: 50px;
	background-color: rgba(0,0,.5);
}

.sect
{
	height: 100%;
	background-color: aqua;
}

.subSection
{
	height: 50%;
	background-color: yellow;
}

.sectOne
{
	background-image: url(".../Downloads/image1.jpeg");
}

.sectTwo
{
	background-image: url(".../Downloads/image1.jpeg")
}

.sectThree
{
	background-image: url(".../Downloads/image1.jpeg")
}